/* aside用 */
.conteiner{
    display: flex;
    justify-content: space-between;
}

aside{
    box-sizing: border-box;
    background: rgba(255, 243, 225, 0.684);
    padding: 0.5rem;
    display: flex;
    flex-direction: column;
    justify-content: left;
    width: 230px;
    flex: none;
    border-radius: 8px;
}
.sidemenu{
    margin-bottom: 0.5rem;
    background: rgba(255, 201, 120, 0.782);
    border-radius: 0.5rem;
}

.sidemenu .asidemenu-font{
    margin-left: 1rem;
}
