/* _init.scss */
@use 'init';

/* 全画面共通部分 */

body {
    background: repeat url(../img/decoratephotos/cback1902.gif);
}

main {
    background-color: init.$background-color;
    flex: 1;
    min-height: 100vh;
    width: 1200px;
    margin: 0 auto;
}

/* フッター */
footer {
    justify-content: space-between;
    background: center /cover url(../img/decoratephotos/w-wws10.jpg);
    padding: 12px;
    text-align: center;
    width: 100%;
    min-width: 1200px;
}

/* ヘッダー */
header {
    background: center /cover url(../img/decoratephotos/1.JPG);
    padding: 140px 120px;
    overflow: hidden;
    background-blend-mode: color;
    position: relative;
    z-index: 0;
    width: 100%;
    min-width: 1200px;
}

header:before {
    content: '';
    background: inherit;
    /*.bgImageで設定した背景画像を継承する*/
    -webkit-filter: blur(10px);
    -moz-filter: blur(10px);
    -o-filter: blur(10px);
    -ms-filter: blur(10px);
    filter: blur(10px);
    position: absolute;
    /*ブラー効果で画像の端がボヤけた分だけ位置を調整*/
    top: -10px;
    left: -10px;
    right: -10px;
    bottom: -10px;
    z-index: -1;
    /*重なり順序を一番下にしておく*/
}

.flex-row {
    display: flex;
    flex-direction: row;
    vertical-align: bottom;
}

.flex-column {
    display: flex;
    flex-direction: column;
}

.front-main {
    box-sizing: border-box;
    padding: 24px 28px 0 28px;
    flex: auto;
}

.main-content+.main-content {
    margin-top: 20px;
}
