/* メインのケーキ */
.maininfo>div{
    gap: 80px;
}

.mainphoto {
    width: 480px;
    margin: 12px 0;
    border-radius: 8px;
}

/* ギャラリー */
.gallery {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    padding: 40px;
    gap: 40px;
    margin-bottom: 10%;
}

/* サブのケーキ */
.subinfo {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    padding: 40px;
    gap: 40px;
    margin-bottom: 10%;
}

.subphoto {
    width: 100%;
    border-radius: 8px;
}

.shadow{
    filter: grayscale(100%);
}
