/* _calender.scss */
/* カレンダー */
@use'init';


// body {
//     font-family: 'Courier New', monospace;
//     font-size: 14px;
// }



table {
    border-collapse: collapse;
    border: 2px solid init.$background-color;
}

thead,
tfoot {
    background: init.$topic-color;
}

th,
td {
    padding: 8px;
    text-align: center;
}

tbody td:first-child {
    color: red;
}

tbody td:last-child {
    color: blue;
}

tfoot {
    font-weight: bold;
}

td.disabled {
    opacity: 0.3;
}

td.today {
    font-weight: bold;
}

#prev,
#next,
#today {
    cursor: pointer;
    user-select: none;
}

.calender {
    width:fit-content;
    word-break: normal;
    overflow-wrap: normal;
    margin: 0 20px;
}
