/* ログイン/form画面 */
.form {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.form div {
    text-align: center;
    justify-content: center;
    background: rgba(255, 255, 255, 0.504);
    padding: 12px 0;
}

.smallmassagebox {
    background: rgba(255, 255, 255, 0.608);
    border: solid 1px;
    padding: 4px;
}

.textform {
    margin: 4px auto;
}

input,
textarea {
    padding: 4px;
    width: 100%;
    box-sizing: border-box;
}

textarea {
    height: 24px;
}

/* type=text form部品 */
.cakeform {
    width: 100%;
    border: 1px solid #d2d2d2;
    border-radius: 3px;
    background: #f7f7f7ad;
    color: #000000;
    font-size: 1em;
}
.cakeform::placeholder {
    color: #999;
}

/* type=textarea form部品 */
.cakeformbox {
    width: 100%;
    border: 1px solid #d2d2d2;
    border-radius: 3px;
    background: #f7f7f7ad;
    color: #333;
    height: 8em;
}

.cakeformbox::placeholder {
    color: #999;
}

/* aタグ用 */
.button{
    background: #999;

}

input[type="date"] {
    position: relative;
    padding: 0 10px;
    width: 200px;
    height: 36px;
    border: 0;
    background: transparent;
    box-sizing: border-box;
    font-size: 14px;
    color: #999;
  }
