@use'init';

/* _font.scss */
/*  スライドショー */
.slider-container {
    position: relative;
    width: 900px;
    height: 400px;
    overflow: hidden;
    padding: 16px 0;
    margin-bottom: 40px;
}

.slide {
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: opacity 1s;
    padding: 32px;
}

.slide .slider-photo {
    width: 400px;
    object-fit: cover;
}

.slide.active {
    opacity: 1;
}

.arrow-slide {
    display: none;
}

.arrow-slide.active {
    opacity: 1;
    display: block;
}

/* お店紹介の背景 */
.about-me {
    box-sizing: border-box;
    width: 100%;
    background: center /cover url(../img/decoratephotos/100_0090.JPG);
    background-blend-mode: color;
    position: relative;
    z-index: 0;
    padding: 120px 0;
    overflow: hidden;
}

.about-me:before {
    content: '';
    background: inherit;
    /*.bgImageで設定した背景画像を継承する*/
    -webkit-filter: blur(5px);
    -moz-filter: blur(5px);
    -o-filter: blur(5px);
    -ms-filter: blur(5px);
    filter: blur(5px);
    position: absolute;
    /*ブラー効果で画像の端がボヤけた分だけ位置を調整*/
    top: -5px;
    left: -5px;
    right: -5px;
    bottom: -5px;
    z-index: -1;
    /*重なり順序を一番下にしておく*/
}


.menuphotos {
    width: 180px;
    border-radius: 8px 8px 0px 0px;
}

.formphoto {
    width: 180px;
    border-radius: 8px;
}



/*  スライドショー */
.slider-container {
    position: relative;
    width: 100%;
    height: 400px;
    overflow: hidden;
    padding: 16px 0;
    margin-bottom: 40px;
}

.slide {
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: opacity 1s;
    padding: 32px;
}

.slide .slider-photo {
    width: 500px;
    object-fit: cover;
}

.slide.active {
    opacity: 1;
}

.arrow-slide {
    display: none;
}

.arrow-slide.active {
    opacity: 1;
    display: block;
}

.mainphoto {
    width: 400px;

}

/* tag用フォント */
.tag {
    @include init.no-wrap(1em, #fff);
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    margin: 2px;
    padding: 0.5rem 1rem 0.5rem 2.8rem;
    border: none;
    border-radius: 5px;
    box-shadow: 0 2px 3px rgb(0 0 0 / 30%), 0 2px 3px -2px rgb(0 0 0 / 20%);
    background-color: init.$tag-color;
    transition: transform .3s ease-in-out, box-shadow .3s ease-in-out;
}

.tag:hover {
    transform: translateY(-1px);
    box-shadow: 0 15px 30px -5px rgb(0 0 0 / 20%), 0 0 5px rgb(0 0 0 / 10%);
}

.tag::before {
    position: absolute;
    top: 0;
    left: 9px;
    width: 30px;
    height: 85%;
    background-color: #fff;
    clip-path: polygon(0 0, 0 100%, 50% 75%, 100% 100%, 100% 0);
    content: '';
}

.tag::after {
    position: absolute;
    top: 33%;
    left: 24px;
    transform: translate(-50%, -50%);
    color: #fe9595;
    font-size: 1.2em;
    content: '★';
}

.tag-area {
    flex-wrap: wrap;
    margin: 12px 0;

}

/* カートボタン */
.cart {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    padding: .1em 0.5em;
    border-bottom: solid 2px #8d4511;
    border-radius: 25px;
    background-color: init.$cart-color;
    color: #fff;
    font-weight: 600;
    font-size: 1em;
    transition: .5s ease;
}

.cart:hover {
    box-shadow: 0 15px 30px -5px rgb(0 0 0 / 30%), 0 0 5px rgb(0 0 0 / 20%);
}


.informations {
    overflow-wrap: break-word;
    word-break: break-all;
    width: 900px;
    background-color: init.$background-color;

    .information {
        width: 350px;
        margin: 0 12px;

        p {
            overflow: hidden;
        }
    }

    .map {
        width: 550px;
        flex: 3;
        margin: 0 12px;
    }

}

.login-form {
    background-color: init.$background-color;
    border-collapse: collapse;
    border-radius: 8px;

    tr {
        height: 22px;
        padding: 4px;

        td {
            padding: 2px 4px;
        }

        td:nth-child(1) {
            width: 132px;
            background: init.$sidemain-color;
            border-bottom: solid 1px init.$test-color;
        }

        td:nth-child(2) {
            border-bottom: solid 1px init.$test-color;

        }

        td:nth-child(3) {
            width: 260px;
            border-bottom: solid 1px init.$test-color;
        }
    }
}

tr:nth-last-child(2),
tr:nth-last-child(1) {
    text-align: end;

}

#send_form {
    background-color: init.$cart-color;
    width: fit-content;
    border-radius: 8px;
    padding-top: 12px;
    overflow: hidden;


}

.message-textarea {
    resize: none;
    width: 350px;
    height: 24px;
}


.formtable {
    width: 750px;
    overflow: hidden;
    border: 1px solid init.$topic-color;


    tbody>tr>td:nth-child(1) {
        background-color: init.$sidemain-color;
        padding: 0 20px;
    }

    tr {
        border-bottom: 1px solid init.$topic-color;

        td {
            vertical-align: middle;
            text-align: left;
            overflow-wrap: break-word;
            word-wrap: break-word;
            padding: 4px;
        }
    }

    td>table {
        width: 600px;
        max-width: 600px;
        border: 1px solid init.$topic-color;

        td:nth-child(1) {
            background-color: init.$sidemain-color;
            text-align: center;
            width: fit-content;
            width: 140px;
        }

        td:nth-child(2) {
            width: 24px;
        }

        td {
            text-align: start;
            max-width: 460px;
            overflow-wrap: break-word;
        }
    }

}

@keyframes sk-cubemove {
    25% {
        transform: translateX(42px) rotate(-90deg) scale(0.5);
    } 50% {
        transform: translateX(42px) translateY(42px) rotate(-179deg);
    } 50.1% {
        transform: translateX(42px) translateY(42px) rotate(-180deg);
    } 75% {
        transform: translateX(0px) translateY(42px) rotate(-270deg) scale(0.5);
    } 100% {
        transform: rotate(-360deg);
    }
}

.loader {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    display: none;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .5);

    &__spinner {
        position: absolute;
        top: 50%;
        left: 50%;
        width: 57px;
        height: 57px;
        transform: translate(-50%, -50%);

        &--cube1,
        &--cube2 {
            background-color: #ffffff;
            width: 15px;
            height: 15px;
            position: absolute;
            top: 0;
            left: 0;
            animation: sk-cubemove 2s infinite ease-in-out;
        }

        &--cube2 {
            animation-delay: -1s;
        }
    }
}


.insra_list{
    width: 900px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    padding: 20px;
    gap: 20px;
    margin: 0 auto;

}
.APIphoto{
    width: 240px;
}


