/* 全画面共通部分 */
main {
    background: repeat url(../img/decoratephotos/backgroundimg.jpg);
    padding: 20px 60px;
    display: flex;
    flex-direction: column;
    flex: 1;
    min-height: 100vh;
    width: 100%;
}

.front-main{
    padding-left: 32px;
    padding-top: 24px;
}
/* ヘッダー */
header {
    justify-content: space-between;
    background: center /cover url(../img/decoratephotos/topimg1.webp);
    padding: 12px 120px;
    display: flex;
    align-items: center;
}
.menus {
    padding: 2px;
    margin: 0 12px;
}
/* フッター */
footer {
    justify-content: space-between;
    background: center /cover url(../img/decoratephotos/topimg1.webp);
    padding: 12px;
    text-align: center;
}

button {
    background: rgb(172, 172, 172);
    border: 1px solid rgb(172, 172, 172);
    border-radius: 4px;
    padding: 2px 8px;
    vertical-align: middle;
}
.flex-row {
    display: flex;
    flex-direction: row;
    vertical-align: bottom;
}
.flex-column{
    display: flex;
    flex-direction: column;
}

.item-end{
    justify-content: end;
}

.google-map{
    height: 300px;
    width: 400px;
}


