.textbackground {
    background-color: rgba(255, 255, 255, 0.598);
    border-radius: 8px;
    width: 100%;
    margin: 12px 0;
    padding: 8px;
}

.flex-row {
    display: flex;
    flex-direction: row;
    vertical-align: bottom;
}
.flex-column{
    display: flex;
    flex-direction: column;
}

input,textarea{
 padding: 4px;
 width: 100%;
 box-sizing: border-box;
}
textarea{
    height: 24px;
}



