@charset "UTF-8";
/* _init.scss */
/* 色一覧*/
/* 文字設定 */
/* _font.scss */
/* サイト名 */
.sitefont {
  font-size: 60px;
  color: black;
  white-space: nowrap;
  font-weight: 600;
  background-color: rgba(255, 167, 66, 0.841);
  border-radius: 8px;
  padding: 8px;
  display: inline;
}

/* 見出し用 */
.topic-font {
  font-size: 32px;
  color: black;
  white-space: nowrap;
  font-weight: 600;
  border-bottom: 4px black solid;
  display: inline-block;
  -webkit-box-decoration-break: clone;
          box-decoration-break: clone;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  border-radius: 8px;
  background-color: rgba(255, 255, 255, 0.598);
  margin: 12px 0;
  padding: 8px;
}

/* 大見出し */
.bigfont {
  font-size: 28px;
  color: black;
  white-space: nowrap;
  font-weight: 600;
  border-radius: 8px;
  padding: 0px 8px;
  display: inline;
}

/* 中見出し */
.middlefont {
  font-size: 18px;
  color: black;
  white-space: nowrap;
  font-weight: 600;
  border-radius: 8px;
  padding: 0px 8px;
  -webkit-box-decoration-break: clone;
          box-decoration-break: clone;
  display: inline;
}

/* テキスト用 */
.smallfont {
  font-size: 16px;
  word-break: break-all;
  border-radius: 8px;
  padding: 4px 8px;
}

/* ケーキ名用 */
.cakenamefont {
  color: rgb(57, 57, 57);
  font-size: 28px;
  font-weight: 300;
  background-color: rgba(255, 255, 255, 0.598);
  border-radius: 8px;
  padding: 0;
  text-align: center;
  flex: 0;
}

/* エラー用 */
.error {
  color: red;
}

/** aside・見出し用フォント/リンクなし **/
.aside-font {
  font-size: 20px;
  color: black;
  white-space: nowrap;
  font-weight: 600;
  margin: 0;
  padding: 0.5rem;
  background: rgba(255, 167, 66, 0.841);
  border-radius: 8px;
}

/** aside・中身用フォント **/
.asidemenu-font {
  font-size: 20px;
  color: rgb(57, 57, 57);
  white-space: nowrap;
  font-weight: 600;
  padding: 2px 0;
}

/** リンク用 **/
.link:hover {
  transform: translateY(-1px);
  box-shadow: 0 15px 30px -5px rgba(0, 0, 0, 0.2), 0 0 5px rgba(0, 0, 0, 0.1);
}

/* form小見出し */
.form-font {
  font-size: 16px;
  color: black;
  white-space: nowrap;
  font-weight: 600;
  padding: 2px 0;
}

/* form　value部分 */
.value-font {
  font-size: 16px;
  color: black;
  white-space: nowrap;
  font-weight: 600;
  padding: 2px 0;
}

/* その他一般用 */
.font {
  font-size: 18px;
  color: black;
  white-space: nowrap;
  font-weight: 600;
  border-radius: 8px;
  padding: 4px 8px;
}

/* map背景 */
.map-background {
  background-color: rgba(255, 255, 255, 0.598);
  border-radius: 8px;
  width: 100%;
  margin: 12px 0;
  padding: 16px 40px;
}

.map-font {
  font-size: 20px;
}

/* 不透明背景 */
.textbackground {
  background-color: rgba(255, 255, 255, 0.598);
  border-radius: 8px;
  width: 100%;
  margin: 12px 0;
  padding: 8px;
}

/* tag用フォント */
.tag {
  font-size: 1em;
  color: #fff;
  white-space: nowrap;
  font-weight: 600;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  margin: 0 auto;
  padding: 0.5rem 1rem 0.5rem 4.8rem;
  border: none;
  border-radius: 5px;
  box-shadow: 0 2px 3px rgba(0, 0, 0, 0.3), 0 2px 3px -2px rgba(0, 0, 0, 0.2);
  background-color: #fe9595;
  transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

.tag:hover {
  transform: translateY(-1px);
  box-shadow: 0 15px 30px -5px rgba(0, 0, 0, 0.2), 0 0 5px rgba(0, 0, 0, 0.1);
}

.tag::before {
  position: absolute;
  top: 0;
  left: 9px;
  width: 30px;
  height: 85%;
  background-color: #fff;
  -webkit-clip-path: polygon(0 0, 0 100%, 50% 75%, 100% 100%, 100% 0);
          clip-path: polygon(0 0, 0 100%, 50% 75%, 100% 100%, 100% 0);
  content: "";
}

.tag::after {
  position: absolute;
  top: 33%;
  left: 24px;
  transform: translate(-50%, -50%);
  color: #fe9595;
  font-size: 1.2em;
  content: "★";
}

/* お店紹介用 */
.about-me-main-font {
  color: white;
  font-size: 40px;
  text-align: center;
}

.about-me-font {
  color: white;
  font-size: 32px;
  text-align: center;
}

/* スライドショー矢印 */
.arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-40%);
  background: rgba(255, 255, 255, 0.7);
  border: none;
  font-size: 24px;
  padding: 10px;
  cursor: pointer;
}

.prev {
  left: 10px;
}

.next {
  right: 10px;
}

.information-font {
  font-size: 16px;
  font-weight: 600;
  padding: 2px 0;
  overflow-wrap: break-word;
}
/*# sourceMappingURL=font.css.map */