/* _font.scss */

@use 'init';

/* サイト名 */
.sitefont {
    @include init.no-wrap(60px, black);

    background-color: init.$topic-color;
    border-radius: 8px;
    padding: 8px;
    display: inline;
}

/* 見出し用 */
.topic-font {
    @include init.no-wrap(32px, black);
    border-bottom: 4px init.$test-color solid;
    display: inline-block;
    box-decoration-break: clone;
    width: fit-content;
    border-radius: 8px;
    background-color: init.$background-color;
    margin: 12px 0;
    padding: 8px;
}

/* 大見出し */
.bigfont {
    @include init.no-wrap(28px, black);
    border-radius: 8px;
    padding: 0px 8px;
    display: inline;
}


/* 中見出し */
.middlefont {
    @include init.no-wrap(18px, black);
    border-radius: 8px;
    padding: 0px 8px;
    box-decoration-break: clone;
    display: inline;
}

/* テキスト用 */
.smallfont {
    font-size: 16px;
    word-break: break-all;
    border-radius: 8px;
    padding: 4px 8px;
}

/* ケーキ名用 */
.cakenamefont {
    color: init.$cakefont-color;
    font-size: 28px;
    font-weight: 300;
    background-color: rgba(255, 255, 255, 0.598);
    border-radius: 8px;
    padding: 0;
    text-align: center;
    flex: 0;
}

/* エラー用 */
.error {
    color: red;
}

/** aside・見出し用フォント/リンクなし **/
.aside-font {
    @include init.no-wrap(20px, black);
    margin: 0;
    padding: 0.5rem;
    background: init.$topic-color;
    border-radius: 8px;
}

/** aside・中身用フォント **/
.asidemenu-font {
    @include init.no-wrap(20px, rgb(57, 57, 57));
    padding: 2px 0;
}

/** リンク用 **/
.link:hover {
    transform: translateY(-1px);
    box-shadow: 0 15px 30px -5px rgb(0 0 0 / 20%), 0 0 5px rgb(0 0 0 / 10%);
}

/* form小見出し */
.form-font {
    @include init.no-wrap(16px, black);
    padding: 2px 0;
}

/* form　value部分 */
.value-font {
    @include init.no-wrap(16px, black);
    padding: 2px 0;
}

/* その他一般用 */
.font {
    @include init.no-wrap(18px, black);
    border-radius: 8px;
    padding: 4px 8px;
}

/* map背景 */
.map-background {
    background-color: rgba(255, 255, 255, 0.598);
    border-radius: 8px;
    width: 100%;
    margin: 12px 0;
    padding: 16px 40px;
}

.map-font {
    font-size: 20px;
}

/* 不透明背景 */
.textbackground {
    background-color: rgba(255, 255, 255, 0.598);
    border-radius: 8px;
    width: 100%;
    margin: 12px 0;
    padding: 8px;
}

/* tag用フォント */
.tag {
    @include init.no-wrap(1em, #fff);
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    margin: 0 auto;
    padding: 0.5rem 1rem 0.5rem 4.8rem;
    border: none;
    border-radius: 5px;
    box-shadow: 0 2px 3px rgb(0 0 0 / 30%), 0 2px 3px -2px rgb(0 0 0 / 20%);
    background-color: init.$tag-color;
    transition: transform .3s ease-in-out, box-shadow .3s ease-in-out;
}

.tag:hover {
    transform: translateY(-1px);
    box-shadow: 0 15px 30px -5px rgb(0 0 0 / 20%), 0 0 5px rgb(0 0 0 / 10%);
}

.tag::before {
    position: absolute;
    top: 0;
    left: 9px;
    width: 30px;
    height: 85%;
    background-color: #fff;
    clip-path: polygon(0 0, 0 100%, 50% 75%, 100% 100%, 100% 0);
    content: '';
}

.tag::after {
    position: absolute;
    top: 33%;
    left: 24px;
    transform: translate(-50%, -50%);
    color: #fe9595;
    font-size: 1.2em;
    content: '★';
}

/* お店紹介用 */
.about-me-main-font {
    color: white;
    font-size: 40px;
    text-align: center;
}

.about-me-font {
    color: white;
    font-size: 32px;
    text-align: center;
}

/* スライドショー矢印 */
.arrow {
    position: absolute;
    top: 50%;
    transform: translateY(-40%);
    background: rgba(255, 255, 255, 0.7);
    border: none;
    font-size: 24px;
    padding: 10px;
    cursor: pointer;
}

.prev {
    left: 10px;
}

.next {
    right: 10px;
}

.information-font {
    font-size: 16px;
    font-weight: 600;
    padding: 2px 0;
    overflow-wrap: break-word;
}
