/* _init.scss */
/* 色一覧*/
// 文字
$cakefont-color: rgb(57, 57, 57);
$test-color:black;

// 背景
$background-color: rgba(255, 255, 255, 0.598);
$topic-color: rgba(255, 167, 66, 0.841);
$sidemain-color: rgba(255, 201, 120, 0.782);
$sideback-color: rgba(255, 243, 225, 0.684);
$tag-color:#fe9595;
$cart-color:#f5a368;


/* 文字設定 */
//フォームの折り返ししない、縮めない太文字
@mixin no-wrap($size, $color) {
    font-size: $size;
    color: $color;
    white-space: nowrap;
    font-weight: 600;
}
